## Python type system

Python can be characterized as having **dynamic** and **strong** type system.

## Dynamic typing
the **type** of an object isn't resolved until the program is run.

In [1]:
def add(a, b):
    return a + b

# Nowhere in the defenition we mention any types

In [2]:
# call it with integers
add(1,3)

4

In [3]:
# call it with strings
add("Hello", "World")

'HelloWorld'

In [4]:
# call it with lists
add ([1,2,3], [4,5,6])

[1, 2, 3, 4, 5, 6]

In [5]:
# Strong Typing.  They need to be the same type
# try mixed objects
add(1, "Hello")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Variable Declaration and Scope

Type declaration are not necessary in Python, and variables 
are essentially just untyped name binding to objects.

## Identical anmes in global and local scope
When you need to rebind a global name at module scope follow
the next rules:

## The LEGB Rule
There are four types of scopes:
* **Local**: names defined inside the current function
* **Enclosing**: names defined inside any and all enclosing functions.
* **Global**: names defined at the top-level of a module
* **Built-in**: names buit-in to the Python language through the special builtins module

## Collections
We have already test these collections:
* **str** the immutable string sequence of Unicode code points
* **list** the mutable sequence of objects
* **dict** the mutable mapping of immutable keys to mutable objects

Some new collections:
* **tuple** the immutable sequnce of objects
* **range**  for arithmetic progression of integers
* **set** a mutable collection of unique, immutable objects

## Tuple
Similar to list but they are delimited by **parenthesis**
rather than square brackets

Access members by *index* rotation with []

In [9]:
t = ("Ogden", 1.99, 2)
print (t)
print(type(t))

('Ogden', 1.99, 2)
<class 'tuple'>

In [10]:
t[0]

'Ogden'

In [11]:
# Get the length
len(t)

3

In [12]:
# Iterate over a tuple
for item in t:
    print (item)

Ogden
1.99
2

### Concatentation and Repetition of Tuples

In [13]:
# Concantenation
t + ("hello", "you", 3)

('Ogden', 1.99, 2, 'hello', 'you', 3)

In [16]:
# Repetition
t = 2

### Nested Tuples

In [17]:
a = ((220, 284), (1184, 1210), (6233, 1234))
a

((220, 284), (1184, 1210), (6233, 1234))

In [19]:
# Access individual members (index notation)
a[2][1]

1234

In [22]:
# Single element tuple
h = (342,)  # add a comma at the end
print(h)
print(type(h))

(342,)
<class 'tuple'>

In [23]:
# Empty tuple
e = ()
print(e)
print(type(e))

()
<class 'tuple'>

In [24]:
# Optional parenthesis
p = 1, 1, 3, 7, 2
p

(1, 1, 3, 7, 2)

In [25]:
type(p)

tuple

### Returning and Unpacking Tuples
This is often used when returning multiple values from a function

In [26]:
# Function returns min and max
def min_max(items):
    return(min(items), max(items))

a = min_max([1,3,11,4,7])
print(a)
print(type(a))

(1, 11)
<class 'tuple'>

Returning multiple values from a function as a tuple is often used in
conjnuction with a feature called **Triple unpacking**

In [27]:
lower, upper = min_max([3, 5, -99, 45])
print(lower)
print(upper)

-99
45

**Task:**

Swap values of variables with tuple unpacking

In [29]:
a = "jelly"
b = "bean"
print(a)
print(b)
a, b = b, a
print(a)
print(b)

jelly
bean
bean
jelly

### Tuple constructor: tuple(iterable)

In [33]:
# List to tuple
tuple([1, 7, 8, 2, 33, 44])

(1, 7, 8, 2, 33, 44)

In [34]:
# String to tuple
tuple("Weber State")

('W', 'e', 'b', 'e', 'r', ' ', 'S', 't', 'a', 't', 'e')

### Test Membership

In [36]:
5 in (3, 5, 7, 11, 77)

True

In [37]:
5 not in (3, 5, 7, 11, 77)

False

# Strings

### Find the size of the string with len()

In [38]:
len("This is a long string")

21

### Concatenation of strings

In [39]:
"New" + " " + "World"

'New World'

In [42]:
s = "Part 1"
s += " Part 2"
s += " Part 3"
s

'Part 1 Part 2 Part 3'

### Joining strings
The recomendation is to use the built-in **join()** instead of 
+= because it is more efficient with memory

the **join()** method takes a collection of strings as an 
argument and produces a new string by inserting a sparator
between each of them.

In [44]:
teams = ";".join(["Utah Jazz", "LA Lakers", "Boston Celtics"])
print(teams)

Utah Jazz;LA Lakers;Boston Celtics

In [45]:
w = "".join(["high", "low"])
w

'highlow'

### Spliting a string with split()

In [46]:
teams.split(";")

['Utah Jazz', 'LA Lakers', 'Boston Celtics']

### Partitioning strings with partition()
This method returns a tuple.

In [47]:
departure, separator, arrival = "London:Edingburgh".partition(":")
print(departure)
print(separator)
print(arrival)

London
:
Edingburgh

In [48]:
# Dummy object
departure, _, arrival = "London:Edinburgh".partition(":")
print(departure)
print(arrival)

London
Edinburgh

### String Formating with format()
This method can be used on any string containing so-called
replacement fields which are surrounded by curly braces.

In [49]:
print("The age of {0} is {1}".format("Mario", 21))

The age of Mario is 21

In [51]:
# you can repeat parameter in the string
print("The age of {0} is {1}. {0}'s birthday is in {2}".format("Mario", 21, "February"))

The age of Mario is 21. Mario's birthday is in February

In [52]:
# if the field names are used once and in the same order as the arguments
# they can be ommited
print("Reticulating spline {} of {}".format(4, 23))

Reticulating Spline 4 of 23

In [54]:
# keyword arguments are supplied to the format() then named field
# can be used instead of ordinals:
print("Current position: {lat} {log}".format(lat="60N", log="5E"))

Current position: 60N5E

In [60]:
# you can use index into the sequenc using square brackets
print("Galactic position x={pos[0]}, y={pos[1]}, z={pos[2]})".format(pos=(65.2, 23.1, 82.9)))

Galactic position x=65.2, y=23.1, z=82.9)

# Range us range()
A range is used to represent an arithmetic progression of integers

In [59]:
range(5)

range(0, 5)

In [61]:
# iterate ove rit
# default initial value is 0
for i in range(5):
    print(i)

0
1
2
3
4

In [62]:
# Set initial value
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [63]:
# cast it to a list
list(range(10,15))

[10, 11, 12, 13, 14]

In [64]:
# Combine multiple 
list(range(5, 10)) + list(range(15, 20))

[5, 6, 7, 8, 9, 15, 16, 17, 18, 19]

In [70]:
# Set the step argument:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [72]:
# in reverse order:
list(range(20,-2,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [73]:
# Not using range to enumerate: The example below is poor style

s = [0, 1, 4, 6, 13]
for i in range(len(s)):
    print(s[i])

0
1
4
6
13

In [75]:
# The above code is VERY unpythonic.
# Python is NOT C
for v in s:
    print(v)

0
1
4
6
13

 If you need a counter, then use the **enumerate()** function
 which returns an iterable series:

In [83]:
t = [6, 11, 33, 444, 55, 1]
for p in enumerate(t):
    print(p)

(0, 6)
(1, 11)
(2, 33)
(3, 444)
(4, 55)
(5, 1)

In [79]:
# Unpack the tuple
for i, v in enumerate(t):
    print("i = {0}, v = {1}".format(i,v))

i = 0, v = 6
i = 1, v = 11
i = 2, v = 33
i = 3, v = 444
i = 4, v = 55
i = 5, v = 1

### List

Heterogenous mutable sequence
* Square brackets
* Uses index notation

In [84]:
s = "Show me the money".split()
s

['Show', 'me', 'the', 'money']

In [85]:
s[3]

'money'

In [87]:
# Negative indexing
print(s[-1])

money

In [88]:
s[-2]  # one before the last

'the'

In [89]:
# this notation is better than C-style
s[len(s)-2]

'the'

### Slicing List

In [91]:
s = [3, 185, 22, 44, 90, -2, 33]
print(s)

[3, 185, 22, 44, 90, -2, 33]

In [94]:
# Slice a range of indexes
s[1:4]

[185, 22, 44]

In [95]:
s[1:-1]  # strip ends

[185, 22, 44, 90, -2]

In [96]:
# starting position until the end
s[2:]

[22, 44, 90, -2, 33]

In [98]:
print(s)
print(s[:3])

[3, 185, 22, 44, 90, -2, 33]
[3, 185, 22]

In [100]:
# get everything
s[:]  # full slice

[3, 185, 22, 44, 90, -2, 33]

In [101]:
full_slice = s[:]  # deep copy??  It creates its own
full_slice is s

False

In [102]:
# Same values?
full_slice == s

True

### Copy list

In [103]:
t = s  # shallow copy
# Are you the same object?
t is s

True

To copy a list, use the **copy()** method instead of full slice

In [104]:
u = s.copy()
u is s

False

In [106]:
# Simply call the list()
v = list(s)
v is s

False

## Shallow copies
Copy the references not the values

In [107]:
a = [[1, 2], [3,4]]
a

[[1, 2], [3, 4]]

In [108]:
# make a copy with full slice
b = a[:]
a is b

False

In [109]:
# same values
a == b

True

In [110]:
# Modify the list
print(a[0])
print(b[0])

[1, 2]
[1, 2]

In [112]:
a[0] is b[0]

True

In [113]:
# The above is true because All copies are shallow
a[0] = [5,7]
print(a[0])
print(b[0])

[5, 7]
[1, 2]

In [115]:
a[1].append(5)
print(a)
print(b)

[[5, 7], [3, 4, 5]]
[[1, 2], [3, 4, 5]]

## Repeat a list
As for strings and tuples, list support repetition using the multiplication operator

In [118]:
c = [21, 37]
d = c*4
print(d)

[21, 37, 21, 37, 21, 37, 21, 37]

In [119]:
# Good to initialize values
[0] * 9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [120]:
# be aware of repetition.
s = [[-1, 1]]*5
s

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

In [121]:
# modify one member
s[2].append(7)
print(s)

[[-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

In [122]:
s[1] = [ 3, 4, 5]
print(s)

[[-1, 1, 7], [3, 4, 5], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

Find the first element using **index()**

In [123]:
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [128]:
# get the index
w.index('fox')

3

In [129]:
w.index('the')

2

To count instances of a list us **count()**

In [130]:
w.count("the")

2

Test membership with **count()** or **in** and **not int**

In [131]:
37 in [1, 4, 6, 37]

True

### Remove elements from list with del()

In [133]:
del w[3]
print(w)

['the', 'quick', 'brown', 'over', 'the', 'lazy', 'dog']

In [134]:
# Also remove
w.remove("quick")
print(w)

['the', 'brown', 'over', 'the', 'lazy', 'dog']

### Insert() Method

Accepts the index of the new item and the new item itself

In [138]:
a = "I accidentlly exploted the universe".split()
print(a)

['I', 'accidentlly', 'exploted', 'the', 'universe']

In [139]:
a.insert(4, "whole")
print(a)

['I', 'accidentlly', 'exploted', 'the', 'whole', 'universe']

### Concatenation of list

In [140]:
m = [1, 2, 3]
n = [4, 5, 6]
k = m + n 
print(k)

[1, 2, 3, 4, 5, 6]

In [142]:
#  Where the augmented assignment operator +=
#  modifies the assignee in place:
t += [18, 34, 99]
print(t)

[3, 185, 22, 44, 90, -2, 33, 18, 34, 99, 18, 34, 99]

In [143]:
# A similar effect can be achieved with extend()
k.extend([44, 45, 46])
print(k)

[1, 2, 3, 4, 5, 6, 44, 45, 46]

### Rearrange elements: reverse(), sort(), key()

In [144]:
g = [1, 11, 21, 31, 41, 51]
print(g)
g.reverse()
print(g)

[1, 11, 21, 31, 41, 51]
[51, 41, 31, 21, 11, 1]

In [145]:
# Sort list
d = [5, 22, 43, 11, -9, 0, 65, 33]
print(d)
d.sort()
print(d)

[5, 22, 43, 11, -9, 0, 65, 33]
[-9, 0, 5, 11, 22, 33, 43, 65]

In [146]:
d.sort(reverse=True)
print(d)

[65, 43, 33, 22, 11, 5, 0, -9]

In [151]:
# the key parameter is more interesting
w = "the quick brown fox jumps over the lazy dog".split()
print(w)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [152]:
w.sort(key=len)
print(w)

['the', 'fox', 'the', 'dog', 'over', 'lazy', 'quick', 'brown', 'jumps']

## Dictionaries
An unordered mapping form unique, immutable keys to mutable values

In [153]:
url = {"Google":"www.google.com",
      "Twitter": "www.twitter.com", 
      "WSU":"www.weber.edu"}

print(url["WSU"])

www.weber.edu

In [158]:
#  The dict() can convert from other types to dictionaries
names_and_ages = [("Alice", 32), ("John", 33), ("Maria", 20)]
names_and_ages

[('Alice', 32), ('John', 33), ('Maria', 20)]

In [159]:
d = dict(names_and_ages)
print(d)
print(type(d))

{'Alice': 32, 'John': 33, 'Maria': 20}
<class 'dict'>

In [160]:
phonetic = dict(a='alpha', b='bravo', c='charlie',
               d='delta', e='echo', f='foxtrot')
print(phonetic)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

### Copy dictionaries
As with list, dictionaries copies are **shallow** by default.  Use the **copy()** or 
the **dict()** constructor

In [161]:
phonetic = dict(a='alpha', b='bravo', c='charlie',
               d='delta', e='echo', f='foxtrot')
print(phonetic)
pcopy = phonetic.copy()  #  copy with copy method
print(pcopy)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}
{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

In [162]:
#  Second method
f = dict(phonetic)
print(f)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

In [163]:
stocks = {"GOOG":891, "AAPL":416, "IBM":239}
stocks

{'AAPL': 416, 'GOOG': 891, 'IBM': 239}

In [164]:
stocks.update({'GOOG':894, 'YHOO':25})
stocks

{'AAPL': 416, 'GOOG': 894, 'IBM': 239, 'YHOO': 25}

In [165]:
# Iterate over dicts
for key in stocks:
    print(key)

GOOG
AAPL
IBM
YHOO

In [168]:
# iterate over values
for v in stocks.values():
    print(v)

894
416
239
25

In [169]:
# by keys
for v in stocks.keys():
    print(v)

GOOG
AAPL
IBM
YHOO

In [170]:
# use items() for both keys and values
for k, v in stocks.items():
    print(k, "=>", v)

GOOG => 894
AAPL => 416
IBM => 239
YHOO => 25

### Test for memebership for dicitonary keys with in and not in

In [171]:
'GOOG' in stocks

True

In [172]:
'WIN' not in stocks

True

### Removing items from dict with del()

In [173]:
print(stocks)
del(stocks['YHOO'])
print(stocks)

{'GOOG': 894, 'AAPL': 416, 'IBM': 239, 'YHOO': 25}
{'GOOG': 894, 'AAPL': 416, 'IBM': 239}

### Mutability of dictionaries
We cannot modify the key, but we can modify the values.

In [174]:
isotopes = {'H':[1, 2, 3], 
           'He': [3, 4],
           'Li':[7, 8, 10],
           'Be':[10, 11],
           'B':[6, 7],
           'C':[11, 12, 13, 14]}
print(isotopes)

{'H': [1, 2, 3], 'He': [3, 4], 'Li': [7, 8, 10], 'Be': [10, 11], 'B': [6, 7], 'C': [11, 12, 13, 14]}

In [175]:
isotopes['H'] += [4, 5, 6, 7]
print(isotopes)

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'Li': [7, 8, 10], 'Be': [10, 11], 'B': [6, 7], 'C': [11, 12, 13, 14]}

In [176]:
# Add members
isotopes['N'] = [13, 14, 15]
print(isotopes)

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'Li': [7, 8, 10], 'Be': [10, 11], 'B': [6, 7], 'C': [11, 12, 13, 14], 'N': [13, 14, 15]}

To print in a more readable way, use **Pretty printing, pprint** 

Note: you need more than 80 characters

In [177]:
from pprint import pprint as pp
pp(isotopes)

{'B': [6, 7],
 'Be': [10, 11],
 'C': [11, 12, 13, 14],
 'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [7, 8, 10],
 'N': [13, 14, 15]}

# Sets
* An unordered collection of unique, immutable objects
* Use Curly{ } to create it.
* Have the set() constructor

Similar to dicitonaries, but each item is a single object(no key).

In [178]:
p = {6, 28, 8128, 33550289}
print(p)
print(type(p))

{8128, 33550289, 28, 6}
<class 'set'>

In [179]:
# empty set
e = set()
e

set()

In [180]:
t = {1, 4, 2, 6, 77, 2, 1, 99}
print(t)
s = set(t)
print(t)

{1, 2, 99, 4, 6, 77}
{1, 2, 99, 4, 6, 77}

### Iterate over set

In [182]:
for x in s:
    print(x)

1
2
99
4
6
77

### Membership testing

In [183]:
q = {2, 9, 6, 4}
3 in q

False

In [184]:
3 not in q

True

### Adding elements to sets.  Use add() or update() methods

In [185]:
k = {32, 55}
print(k)
k.add(23)
print(k)

{32, 55}
{32, 23, 55}

In [186]:
#  multiple adds
k.update([32, 23, 41])
print(k)

{32, 41, 23, 55}

### Removing elements. Use remove() method

In [187]:
print(k)
k.remove(55)
print(k)

{32, 41, 23, 55}
{32, 41, 23}

In [189]:
# Use the discard method.  It will not throw and error
#  if the element does not exist.
print(k)
k.discard(98)
print(k)

{32, 41, 23}
{32, 41, 23}

### To copy use copy() or set() constructor

In [190]:
j = k.copy()
print(j)

{32, 41, 23}

In [191]:
m = set(k)
print(m)

{32, 41, 23}

## Set Algebra Operations
It supports the following operations
* union
* intersection
* difference
* symmetric_difference
* Subset relationships

## Collection Protocols

Protocol | Implementing collection
---------| -----------------------
Container |(in, not in)  str, list, dict, tuple, set, bytes
Sized | str, list, dict, tuple, set, bytes
Iterable | str, list, dict, tuple, set, bytes
Sequences | str, list, range, tuple, bytes
Mutable Sequence | list
Mutable Set | list
Mutable Mapping | list

# Handling Exceptions

Is a mechanism for stopping normal program flow and continuing
at some surrounding context or block of code

Key concepts:
* Raise an exception to interrupt program flow
* Handle exception to resume control
* Unhandle exception will terminate the program
* Exception objects contain information about the exception event.

Use **try** with **except** block test code

### Re-raising exceptions

If you want to capture ALL exceptions use:

except Exception